.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.painting {
  height: 250px;
  border-radius: 20px;
  border: 10px solid #F5CB5C;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}